body{
  background-image: url('http://images2.alphacoders.com/165/165420.jpg');
    background-color: #cccccc;
} 
div {
     border-style: groove;
     border-width: 5px;
     border-color: cadetblue;
     padding: 30px;
}
.container{
 border-style: groove;
 border-width: 5px;
 border-color: red;
}

 #current-link{
        text-decoration: none;
    }
    
h1{
text-align:center;
color:cadetblue;
border-style:groove;
border-color:cadetblue;
border-width: 5px;
padding: 30px;   
    
}
.col-xs-10{
color:cadetblue;
border-style:groove;
border-color:cadetblue;
border-width: 5px;
padding: 30px;   
    
}
.col-xs-2{
text-align:center;
color:cadetblue;
border-style:groove;
border-color:cadetblue;
border-width: 5px;
padding: 30px;   
    
}

.row{
border-width:0px;    
}
img{
 width:200px;
 hight:auto;

}
.col-xs-3{
padding:0px;
border-width:0px;
}
body{
    color:cadetblue;
}
.list-group-item{
    border-style:groove;
    border-color:cadetblue;
    margin-top:40px;
    margin-bottom:40px;
}
.col-xs-4{
    border:0px;
}
.align{
    padding-right:40px
}
.styleB{
    color:cadetblue;
}
.jumbotron {
    color:red;
     background-image: url('http://www.psdgraphics.com/file/black-wood-background.jpg');
}
.bgvideo{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-hight:100%;
    width:auto;
    hight:auto;
}
